/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --header-color: #ffc2e6;
  --header-shadow-color: #ff8dcb;
  --button-menu-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --text-color: #353430;
  --text-accent-color: #353430;
  --accent-text-color: #353430;
  --accent-bg-color: #ff8dcb;
  --bg-color: #fff1f7;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
    --header-color: #ffc2e6;
    --header-shadow-color: #ff8dcb;
    --button-menu-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --text-color: #353430;
    --text-accent-color: #353430;
    --accent-text-color: #353430;
    --accent-bg-color: #ff8dcb;
    --bg-color: #fff1f7;
  }

  .record__lamp {
    display: none;
  }
}

.page.theme_light > .header > .record__lamp {
  display: none;
}

@media (width > 770px) {
  .page.theme_light {
    --header-shadow-color: #ff0070;
  }
  @media (prefers-color-scheme: light) {
    .page {
      --header-shadow-color: #ff0070;
    }
  }
}