/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--common-indent);
  right: var(--common-indent);
  border-top: 1px solid var(--button-menu-color);
  border-right: 1px solid var(--button-menu-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--common-indent);
  left: var(--common-indent);
  border-bottom: 1px solid var(--button-menu-color);
  border-left: 1px solid var(--button-menu-color);
  inline-size: 25px;
  block-size: 25px;
}

.record__lamp {
  position: absolute;
  top: calc(var(--common-indent) + 1px);
  right: calc(var(--common-indent) + 19px);
  color: var(--button-menu-color);
  text-transform: uppercase;
}

.record__lamp::after {
  content: '';
  position: relative;
  top: -1px;
  left: 10px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  block-size: 9px;
  inline-size: 9px;
}

.context-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.content__text {
  color: var(--text-color);
}

.content__text:not(:last-child) {
  margin-block-end: 10px;
}

.content__text_link {
  display: inline-block;
  height: 1.2em;
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-bg-color);
}

.content__text_link:focus-visible {
  border-bottom: none;
  outline: 1px solid currentColor;
}

.subtitle {
  color: var(--text-accent-color);
  font-weight: 700;
}

.subtitle_accent {
  margin-block-start: 10px;
  color: var(--accent-text-color);
  background-color: var(--accent-bg-color);
  margin-block-end: 10px;
}

.subtitle_accent__text-bold {
  font-weight: 700;
  color: var(--accent-text-color);
  background-color: var(--accent-bg-color);
}

.subtitle_accent__text-bold:not(:last-child) {
  margin-block-end: 10px;
}

.section__images_subtitle.section__images_subtitle {
    margin-block-end: 0;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: var(--common-indent);
  min-block-size: 530px;
}

.title {
  position: relative;
  color: var(--header-color);
  font-weight: 700;
  font-size: var(--header-font-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}

.header__theme-menu {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
}

.header__theme-menu-item {
  inline-size: 68px;
  block-size: 24px;
}

.header__theme-menu-button {
  margin-block-start: -3px;
  border-style: none;
  color: var(--button-menu-color);
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 100%;
  block-size: 100%;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  outline: 1px solid var(--button-menu-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-menu-color);
  outline: none;
}

.subtitle_header {
  justify-self: flex-end;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--sections-gap);
  margin-block-start: var(--sections-gap);
  margin-block-end: var(--sections-gap);
}

.main__section {
  display: grid;
  gap: 20px;
  padding: var(--common-indent);
}

.main__section_images {
  gap: var(--common-indent);
}

.section_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images__grid_image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--common-indent);
  min-block-size: 150px;
}

.title_footer {
  text-shadow: 2px 2px 0 var(--header-shadow-color);
  cursor: pointer;
}

/* ********************************************************************************** */

@media (hover: hover) {
  .content__text_link:hover {
    border-bottom: 1px solid currentColor;
  }

  .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
    cursor: pointer;
  }

  .header__theme-menu-item:has(.header__theme-menu-button:hover) {
    outline: 1px solid var(--button-hover-color);
  }
}

@media (width > 594px) {
  .subtitle {
    grid-area: header;
  }

  .section_content {
    grid-area: content;
  }

  .title_header {
    margin-inline-start: calc(0px - var(--common-indent));
  }

  .subtitle_header {
    inline-size: 50%;
  }

  .main__section_text {
    grid-template-areas: 'header content';
  }

  .main__section_reason {
    grid-template-areas:
    'header .'
    'content content';
  }

  .main__section_images {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__images_subtitle {
    grid-column: span 3;
  }

  .images__grid_image-sunset {
    grid-column: span 2;
  }

  .images__grid_image-ice-cream {
    grid-row: span 2;
  }

  .images__grid_image-tape {
    grid-row: span 2;
  }

  .images__grid_image-street {
    grid-column: span 2;
  }
}

@media (594px < width <= 770px) {
  .main__section_text {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width <= 770px) {
  .header__theme-menu {
    margin-inline-end: 0;
    margin-block-start: auto;
    margin-block-end: auto;
    padding-block-end: 30px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-block-start: 30px;
  }
}

@media (width > 770px) {
  .main__section_text {
    grid-template-columns: 315px 2fr;
  }

  .context-items-list_reason {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--common-indent);
  }

  .images__grid_image-street {
    block-size: 99%;
    align-self: end;
  }
}
